.header{
    background:#0f171e;
    width: 100vw;
    height: 70px;
    position: fixed;
    font-size: 14px;
    font-weight: 700;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px #000000;
    z-index: 1000;

    .logo{
        margin-left: 5vw;
        width: 100px;
        height: 70px;
    }

    .nav-list{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    .nav-list li{
        margin: 0 20px;

        .search-input{
            background: transparent;
            border: none;
            border-bottom: 1px solid #aaaa ;
            min-width: 120px;
            color: antiquewhite;
            padding-bottom: 5px;
            font-size: 12px;
            transition: width 2s;
            transition-delay: 1s;

            &:focus{
                width: 300px;
                border-bottom: 1px solid #0957c1;
            }
        }
    }

    .nav-list li a{
        text-decoration: none;
        color:rgba(242,244,246,.9);
        font-weight: 400;
    }

    .nav-list li a:hover{
        color:#0957c1;
    }

    .nav-list li button{
        background: transparent;
        border: none;
        color: rgba(242,244,246,.9);
        min-width: 70px;
        font-weight: 400;
        font-size: 14px;
    }

    .nav-list li button:hover{
        color: #0957c1;
    }
}