.movieList-container {
  width: 95vw;
  margin: 5vh auto;

  .category-section {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    .see-more {
      color: #0957c1;
      text-decoration: none;
    }
  }
}
