.movieList-container {
  width: 90vw;
  margin: 5vh auto;

  .category-section {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    color: #fff;

    .see-more {
      color: #fff;
      text-decoration: none;
    }
  }
}
